*.env
.idea/
logs/
.webassets-cache
x-ml-models/
*.pyc
*.log

.DS_Store
env/
*.pkl

*.tif
*.tiff
*.h5
*.zip
*.index
*.npz
*.so
*.json
*.csv
__pycache__
.DS_Store
.pytest_cache
*.tar
*.pth
*.npy


# MaskTextSpotter
_ext
*.so
build/
dist/
/tests/adhoc/input/
